#friends-display {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-top: -15px;
  margin-bottom: 15px;
}

#friends-display i {
  margin: 0px 5px;
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 25px;
}

.friends-screen__channel-header {
  border-top: var(--border);
  padding: 15px 0px;
  margin-bottom: 10px;
  opacity: 0.6;
}
.friends-screen__channel-header span {
  margin-right: 5px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--pink);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}
