.badge-alert {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2.5px solid;
  border-color: tomato;
  color: #2e363e;
  font-weight: 600;
}
.badge-gift__text {
  font-size: 12px;
  margin-left: 5px;
}
.badge-more {
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 50%;
}

.badge-manage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2.5px solid;
  color: #2e363e;
  font-weight: 600;
}
